In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

#import RNA counts for all vitamins at all sequenced timepoints (P0,3,5; or P0,1,2 for folate)
df = pd.read_csv('/Users/alec/Desktop/JAIN LAB/Vitamin Growth Curves/Vitamin-related CRISPR KO screen/Vit_AB_20200821_count_normalized.txt', delimiter='\t')
df.head(10)

,sgRNA,Gene,VitA,VitB,VitC,VitD,VitE,VitF,VitG,VitH,VitI,VitJ,VitK,VitL,VitM,VitN,VitO,VitP,VitQ,VitR
0,MAOB_43838977.0,MAOB,870.100223,1202.769290,1374.272977,1304.085509,1525.433739,1720.712499,1662.710349,1261.610209,1644.356513,1067.147747,995.048534,1296.439906,1277.236277,1543.561459,1272.582823,1382.847971,1067.399398,1829.009115
1,ZNF423_49637907.0,ZNF423,647.347293,608.074956,662.254109,699.322349,636.575233,821.667853,501.286988,483.120089,724.931366,579.971602,553.738730,606.455446,681.905226,634.170403,631.281243,692.822685,641.882070,703.111544
2,KRTAP10-8_44612324.0,KRTAP10-8,1167.407196,1184.185092,1278.571516,1327.985084,1278.039677,1443.138606,1203.088772,1251.082169,1224.828605,1128.044766,1246.174828,1462.627840,1353.122282,1325.710745,1247.076510,1124.554722,1101.657149,1291.335581
3,SLC5A9_48232101.0,SLC5A9,261.848343,204.426177,273.068168,336.672275,344.200433,329.158422,436.184782,245.654283,234.678447,249.387789,299.460224,286.260892,321.713907,311.658316,306.075754,346.877576,262.342251,719.655345
4,PPID_158719235.0,PPID,640.073728,787.969992,830.688680,704.517909,890.814190,649.719423,992.157624,917.694213,1070.519490,761.212727,703.994211,740.449906,781.305204,1005.524466,816.202011,1024.780796,623.851675,966.893261
5,MAST4_67164358.0,MAST4,525.515077,557.525938,533.376142,438.505247,261.083851,524.442710,458.319532,362.632513,160.738662,611.870040,525.368814,353.258122,485.242904,406.241187,417.210403,621.022757,584.184806,443.006228
6,CCDC130_13762613.0,CCDC130,256.393169,354.586497,197.783019,198.470384,308.998116,160.894602,184.890266,262.616126,326.299484,362.482251,284.749897,261.028169,399.737546,178.311972,163.058214,298.389313,320.039515,116.725707
7,DYNC2LI1_43794568.0,DYNC2LI1,649.165684,765.668955,657.150031,746.082387,676.666761,826.580665,636.699577,832.300106,540.081905,765.562514,624.138151,603.845164,609.225672,504.700407,530.166931,622.887690,620.245596,689.325043
8,TNFSF4_173188564.0,TNFSF4,280.032256,317.418101,279.448266,500.851964,349.089644,395.481388,503.891077,298.879377,578.659184,337.833458,298.409487,277.559953,391.187010,295.377657,413.566644,441.989169,292.092403,407.161326
9,MED10_6378462.0,MED10,507.331165,453.454430,430.018564,309.655364,289.441273,455.663338,309.886502,408.254022,564.192704,556.772738,510.658488,387.191784,505.550426,658.203756,388.060331,430.799570,427.320367,851.086654

In [2]:
#parse df to only include control and riboflavin counts 
ribo_df = df.filter(items=['Gene','VitA', 'VitD','VitE','VitG','VitI','VitJ','VitM','VitN','VitP','VitR'])
ribo_df.head(5)

,Gene,VitA,VitD,VitE,VitG,VitI,VitJ,VitM,VitN,VitP,VitR
0,MAOB,870.100223,1304.085509,1525.433739,1662.710349,1644.356513,1067.147747,1277.236277,1543.561459,1382.847971,1829.009115
1,ZNF423,647.347293,699.322349,636.575233,501.286988,724.931366,579.971602,681.905226,634.170403,692.822685,703.111544
2,KRTAP10-8,1167.407196,1327.985084,1278.039677,1203.088772,1224.828605,1128.044766,1353.122282,1325.710745,1124.554722,1291.335581
3,SLC5A9,261.848343,336.672275,344.200433,436.184782,234.678447,249.387789,321.713907,311.658316,346.877576,719.655345
4,PPID,640.073728,704.517909,890.814190,992.157624,1070.519490,761.212727,781.305204,1005.524466,1024.780796,966.893261

In [ ]:
#set index to "Gene" item
ribo_df.set_index('Gene', inplace=True)
ribo_df.head(5)

In [3]:
ribo_arr = np.array(ribo_df, ndmin=0)
ribo_inf_1 = np.ndarray((77438,5), dtype=float)
ribo_inf_2 = np.ndarray((77438,5), dtype=float)
ribo_arr.shape

(77438, 11)

In [4]:
#Normalize VitD,E,G,I counts by VitA (infection 1 P0) using np
for idx in range(len(ribo_arr[:])):
    for i in range(5):
        ribo_inf_1[idx,i] = np.divide(ribo_arr[idx,i],ribo_arr[idx,0])

#Normalize VitM,N,P,R counts by VitJ (infection 2 P0) using np
for idx in range(len(ribo_arr[:])):
    for i in range(5):
            ribo_inf_2[idx,i] = np.divide(ribo_arr[idx,i+5],ribo_arr[idx,5])

TypeError: ufunc 'true_divide' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [ ]:
 print(ribo_inf_2[:,:])

In [ ]:
#stack inf1 and inf2 arrays by axis=2 
#(corresponding time/biological replicates between inf1/2 are stacked on z-axis aka axis=2)
ribo_avg_norm = np.stack((ribo_inf_1,ribo_inf_2),axis=2)
ribo_std = np.array((77438,5))

#calculate stdev of corresponding inf1/inf2 samples
ribo_std = np.std(ribo_avg_norm,axis=2)
print(ribo_std[:,:])

In [ ]:
#Average inf1,2 values (VitA+J/2 = P0
                       #VitD+M/2 = Ribo_P3, 
                       #VitE+N/2 = Ctrl_P3, 
                       #VitG+P/2 = Ribo_P5, 
                       #VitI+R/2 = Ctrl_P5) 
ribo_avg_norm = np.mean(ribo_avg_norm, axis=2)

print(ribo_avg_norm.shape,ribo_avg_norm[:,:])

In [ ]:
gene_label = np.array(df['Gene'])

passage_label = ['P0', 'Ribo_P3', 'Ctrl_P3', 'Ribo_P5', 'Ctrl_P5']

print(gene_label[:],gene_label.shape,ribo_avg_norm.shape)

In [ ]:
#label np avg/normalized count data
ribo_labelled = pd.DataFrame(data=ribo_avg_norm, index=gene_label, columns=passage_label)

print(ribo_labelled, ribo_labelled.shape)

In [ ]:
ribo_labelled.plot()

In [ ]:
ribo_labelled.set_index('Gene', inplace=True)

In [ ]:

#Generate plot passage(x) vs. normalized_count(y)